# Frontend Application Configuration
# Copy this file to .env and update the values

# Backend API URL
# This is the URL where your Flask backend is running
VITE_API_BASE_URL=http://localhost:5000

# API Timeout (in milliseconds)
VITE_API_TIMEOUT=10000

# Environment
# Set to 'production' for production builds
VITE_ENV=development

VITE_COGNITO_USER_POOL_ID=ap-south-1_RlsW4QiWN
VITE_COGNITO_APP_CLIENT_ID=1iet8a2hn73eqhngrj97b4n8l6
VITE_COGNITO_REGION=ap-south-1
VITE_COGNITO_CLIENT_SECRET=vg6t9ekp6d3rph6bfl9avevo7okmo120lu8bs4lrg363oeejs5c